html,
body,
#root,
.App {
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.react-flow_node-textupdater {
   padding: 10px;
  background-color: #556677;
  color: white;
}

.text-updater-node {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.text-updater-node .buttons-container {
  display: flex; 
  gap: 10px;
  margin-top: 10px; 
}

.button-group {
  margin-bottom: 10px;
}

.filter-button {
  min-width: 100px;
}

.port-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black; 
}

.port-table th, .port-table td {
  border: 1px solid black;
  padding: 8px;
}

.port-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: silver;
  color: black;
}

.port-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.port-table tr:hover {
  background-color: #ddd;
}