.header {
    height: 70px;
    margin-bottom: 120px;
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
}

.inner {
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link {
    line-height: 1;
    padding: 12px 16px;
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-md);
    font-weight: 500;

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

.links {
    display: flex;
    flex-direction: row;
      gap: var(--mantine-spacing-xs);
}